<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619972320647-7anq92i9po8n1g1bgvjha68iam42dutu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619972320647-7anq92i9po8n1g1bgvjha68iam42dutu</string>
	<key>API_KEY</key>
	<string>AIzaSyAo_RxxNezL-GoqYxuxCBlEDCBNL3W1_Fw</string>
	<key>GCM_SENDER_ID</key>
	<string>619972320647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myMato</string>
	<key>PROJECT_ID</key>
	<string>mato-timer</string>
	<key>STORAGE_BUCKET</key>
	<string>mato-timer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619972320647:ios:078b2d72327a0fa4dfc722</string>
	<key>DATABASE_URL</key>
	<string>https://mato-timer.firebaseio.com</string>
</dict>
</plist>